<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="blog.css">
</head>
<body>
<main>
    <header>
        <h1>Blog.com</h1>
        <a href="/">HOME</a>
    </header>
    <img src="/image/<%= bdata.img %>" alt="">
    <h2 id="h2">Author:-<%=bdata.author %></h3>
    <h1 id="h1"><%= bdata.tit %></h1>
    <p style="white-space: pre-wrap"><%= bdata.para %></p>
</main>
</body>
</html>