<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <img src="https://bl-i.thgim.com/public/blink/read/i0gfby/article26278929.ece/alternates/FREE_1200/BLinkLEAD1" alt="kjhgf">
    <div class="login-form">
        <h1>Signup</h1>
        <form action="/register" method="post">
            <input type="text" placeholder="Enter user name" name="name">
            <input type="password" placeholder="Enter password" name="password">
            <button type="submit">Signup</button>
            <a href="/login">Have a account?</a>
        </form>
    </div>
</body>
</html>